.wrapper {
    position: static;
    top: 0;
    padding: var(--spacing-xs) var(--spacing-sm);
    background: var(--header-footer-color);
    border-bottom: 4px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-sm);
    height: var(--header-footer-height);
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
}

@media (min-width: 480px) {
    .wrapper {
        position: sticky;
        padding: var(--spacing-sm);
        z-index: 1;
    }
}