.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
    margin: var(--spacing-xl) auto;
    padding: 0 var(--spacing-xl);
    max-width: 600px;
    height: 100%;
}
