.wrapper {
    background: var(--header-footer-color);
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    height: var(--header-footer-height);
}