.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
}

.image {
    border-radius: 50%;
}

.name {
    display: none;
}

@media (min-width: 600px) {
    .name {
        display: unset;
    }
}