.button {
    border: none;
    border-radius: var(--spacing-xxs);
    padding: var(--button-vertical-spacing, var(--spacing-xs)) var(--button-horizontal-spacing, var(--spacing-sm));
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: calc(1rem * pow(var(--font-scale), var(--multiplier)));
}

.button:hover {
    background: color-mix(in srgb, var(--button-background-color), var(--button-text-color) 20%);
    cursor:pointer;
}


.primary {
    --button-background-color: var(--primary-color);
    --button-text-color: var(--primary-text);
}

.secondary {
    --button-background-color: var(--secondary-color);
    --button-text-color: var(--secondary-text);
}

.sm {
    --multiplier: 1;
}

.md {
    --multiplier: 2;
}

.lg {
    --multiplier: 3;
    --button-vertical-spacing: var(--spacing-sm);
    --button-horizontal-spacing: var(--spacing-md);
}