.navLinks {
    display: none;
}

.hamburger {
    display: initial;
}

@media (min-width: 480px) {
    .navLinks {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
    }
    
    .hamburger {
        display: none;
    }
}