.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.hookemPopover {
    background: whitesmoke;
    border-radius: 4px;
    border: solid 2px #bf5700;
}

.quakePopover {
    background: #18592d;
    border-radius: 4px;
    border: solid 2px #ebef00;
}