.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    max-width: 600px;
}

.aboutMe, .skills {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm)
}

@media (min-width: 800px) {
    .wrapper {
        flex-direction: row;
        max-width: unset;
        padding: var(--spacing-lg);
    }

    .aboutMe {
        flex: 3;
    }

    .skills {
        flex: 2;
    }
}