.trigger {
    all: unset;
    text-decoration: underline dotted;
}

.trigger:hover,
.trigger:focus {
    color: var(--highlight-color);
}

.popover {
    position: absolute;
    left: anchor(50%);
    top: calc(anchor(bottom) + 2px);
    bottom: auto;
    translate: -50% 0;
}