:root {
  --gap: 8px;
  --spacing-xxs: calc(0.5 * var(--gap));
  --spacing-xs: calc(1 * var(--gap));
  --spacing-sm: calc(2 * var(--gap));
  --spacing-md: calc(3 * var(--gap));
  --spacing-lg: calc(4 * var(--gap));
  --spacing-xl: calc(5 * var(--gap));

  /* https://coolors.co/4336599-77a688-ae5147-bee9e8-191710 */
  --primary-color-light: #A293AE;
  --primary-color-dark: #5F506B;
  --primary-color: #5F506B;
  --secondary-color: #EADEDA;
  --tertiary-color: #026C7C;
  --background-color: #EDF5EB;
  --light-text: #FFF;
  --dark-text: #000;
  --primary-text: var(--light-text);
  --secondary-text: var(--dark-text);
  --tertiary-text: var(--light-text);
  --header-footer-color: color-mix(in srgb, var(--background-color), var(--secondary-text) 20%);
  --header-footer-height: calc(10 * var(--gap));

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-scale: 1.27;

  }
  

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #A293AE;
    --secondary-color: #241814;
    --tertiary-color: #81EDFD;
    --background-color: #03120E;
    --primary-text: var(--dark-text);
    --secondary-text: var(--light-text);
  --tertiary-text: var(--dark-text);
}

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
