.body {
    background: var(--background-color);
}

.main {
    height: 100%;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 2 * var(--header-footer-height));
    overflow-y: scroll;
}