.wrapper {
    --label-color: var(--primary-color-dark);
    --progress-color: var(--primary-color-light);
    --label-text-color: var(--light-text);
    /* height: calc(1rem * 1.5); */
    width: 100%;
    height: 2rem;
    background-color: var(--label-text-color);
    display: flex;
}

.label {
    background-color: var(--label-color);
    color: var(--label-text-color);
    width: 10rem;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: var(--gap);
}

.progressWrapper {
    height: 100%;
    flex: 1;
}

.progress {
    background-color: var(--progress-color);
    width: 0;
    height: 100%;
}

.visible .progress {
    width: var(--score);
    animation: 1.1s cubic-bezier(.83,-0.26,0,.97) 0s 1 both grow,
        1.1s linear 0s 1 both reveal;
}


@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: var(--score);
    }
}

@media (prefers-color-scheme: dark) {
    .wrapper {
        --label-color: var(--primary-color-light);
        --progress-color: var(--primary-color-dark);
        --label-text-color: var(--dark-text);
    }
}
