.wrapper {
    position: absolute;
    top: var(--header-footer-height);
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    padding: var(--spacing-xs) var(--spacing-xl);
    text-align: center;
    margin: 0 var(--spacing-lg);
}

.link:hover, .link:active {
    color: var(--tertiary-color);
    text-decoration: underline var(--tertiary-color);
}

.divider {
    align-self: stretch;
    background-color: var(--secondary-color);
    height: 1px;
}

@media (min-width: 480px) {
    .wrapper {
        display: none;
    }
}