.link:hover {
    text-decoration: solid underline 2px;
    color: var(--primary-color);
}

.link:active {
    color: var(--primary-color);
}

.active.active {
    color: var(--primary-color);
    text-decoration: solid overline 2px;
}

.active:hover {
    text-decoration: solid overline underline 2px;
}

