.wrapper {
    display: flex;
    gap: var(--spacing-sm);
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
    justify-content: space-between;
}

.detailItem {
    margin-left: 1rem;
}