.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: stretch;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}