.text {
    font-size: calc(1rem * pow(var(--font-scale), var(--multiplier)));
    color: var(--font-color);
}

.h1 {
    --multiplier: 7;
}

.h2 {
    --multiplier: 6;
}

.h3 {
    --multiplier: 5;
}

.h4 {
    --multiplier: 4;
}

.h5 {
    --multiplier: 3;
}

.h6 {
    --multiplier: 2;
}

.body {
    --multiplier: 1;
}

.primary {
    --font-color: var(--primary-color);
}

.secondary {
    --font-color: var(--secondary-color);
}

.tertiary {
    --font-color: var(--tertiary-color);
}

.dark {
    --font-color: var(--dark-text);
}

.light {
    --font-color: var(--light-text);
}

.textOnPrimary {
    --font-color: var(--primary-text);
}

.textOnSecondary {
    --font-color: var(--secondary-text);
}