.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--spacing-sm);
    justify-content: space-between;
}

@media (min-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(4, auto);
    }
}

@media (min-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(6, auto);
    }
}