.wrapper {
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: var(--spacing-sm);
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
}

.primary {
    --font-color: color-mix(in srgb, var(--primary-color), var(--primary-text) 70%);
    --background-color: var(--primary-color);
}

.secondary {
    --font-color: color-mix(in srgb, var(--secondary-color), var(--secondary-text) 70%);
    --background-color: var(--secondary-color);}

.tertiary {
    --font-color: color-mix(in srgb, var(--tertiary-color), var(--tertiary-text) 80%);
    --background-color: var(--tertiary-color);
}
